a, .pointer-div {
    cursor: pointer; 
}

.contact-item.selected {
    background: #f0f0f0;
}

.item-pic {
    width: 50px;
    height: 50px;
    float: left;
}

.datetime.gray {
    color: #aaa;
}

#msgr-side-list .msg-usr-hscroller {
    display: none;
}

.msg-usr-hscroller {
    overflow-x: overlay;
}

@-moz-document url-prefix() { 
    .msg-usr-hscroller {
        overflow-x: scroll !important;
    }
}

.msg-usr-hscroller table tr td {
    padding: 7px;
}

.msg-usr-hscroller img {
    width: 50px;
    height: 50px;
    position: relative;
}

.msg-usr-hscroller span {
    margin-top: -25px;
    margin-left: 38px;
    position: relative;
}

.msg-usr-hscroller::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}

.msg-usr-hscroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
.msg-usr-hscroller::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}


.msg-usr-scroller{
    padding: 0 12px 0 0;
    margin: 0;
    overflow-y: scroll;
}

.msg-usr-scroller.list{
    height: 400px !important;
}

.msg-usr-scroller.chat{
    height: 400px !important;
}

.msg-usr-scroller::-webkit-scrollbar {
    display: none;
}

.msg-last-cmt {
    color: #999;
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    position: relative;
}

.msgr-profile {
    padding: 20px 0px 30px 0px;
}

.msgr-profile .usr-info {
    padding: 5px;
}

.msgr-profile img {
    width: 50px;
    height: 50px;
}

.msgr-profile .usr-info .user-name {
    font-size: 18px;
}

.msgr-profile .usr-info .user-action {
    color: #ccc;
}

.profile-user-members ul li a {
    padding: 10px 10px 10px 25px;
}

.profile-user-members ul li a img {
    margin-right: 10px;
    width: 30px;
    heigit: 30px;
}

.item-label.gray {
    color: #ccc;
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin-left: 15px;
    position: relative;
    margin-top: -15px;
}

.pagging-lr-20 {
    padding: 0px 20px;
}

.padding-srch-input {
    padding-left: 30px !important;
}

.msgr-search-div {
    width: 100%;
}

#chat-msgr-title {
    display: none;
}

#chat-msgr-title-tabs{
    display: none;
    width: 25%;
    text-align: right;
    padding: 0px !important;
    font-size: 25px;
    color: #ccc;
}

#chat-msgr-title-tabs-m{
    width: 25%;
    text-align: right;
    padding: 0px !important;
    font-size: 25px;
    color: #ccc;
}

.advertisor-panel {
    width: 70%;
}

.advertisor-profile {
    height: 40px;
    width: 40px;
    margin: -10px 0px 0px -10px;
    float: left;
}

.advertisor-profile-title {
    font-size: 16px;
    margin-left: 10px;
}

.advertisor-profile-div{
    margin-top: -10px;
}

.advertisor-profile-title-info {
    font-size: 10px;
    margin-left: 40px;
    width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

#chat-msgr-title-tabs img{
    width: 23px;
    height: 23px;
}

#profileModal {
    margin-top: 100px;
}

#profileModal .msgr-profile ,#profileModal .profile-user-menu {
    margin: 0px 20px;
}

@media (min-width: 0px) and (max-width: 991px) {
    #msgr-info-div {
        display: none;
    }
    
    .msgr-search-div {
        width: 60%;
    }

    #chat-msgr-title-tabs{
        display: block;
    }
}

@media (min-width: 0px) and (max-width: 767px) {        

    #msgr-chat-div {
        display: none;
    }
    
}

@media (min-width: 0px) and (max-width: 350px) {
    #chat-msgr-srch{
        width: 160px;
    }
}